*.json filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
Curated_Protein_PDB/Disordered/Positive[[:space:]]Disordered/positive_disordered_p20930/*.json filter=lfs diff=lfs merge=lfs -text
